body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    margin: 0;
    background-color: #a27d7d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.kartu{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
   
}header {
    font-family: "Grand Hotel";
    font-size: 30px;
    margin-top: 4rem;
}main {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 5px; 

   
}input:focus {
   outline-style: none;
}
input::placeholder{
    font-size: 10px;
}
button {
    background-color: #0095f6;
    border-style: none;
    color: white;       /* Tulisan jadi putih */
    font-weight: bold;  /* Tulisan jadi tebal */
    cursor: pointer;
    padding: 9px 8px;
}footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}a {
    text-decoration: none;
    color:#00376b ;
}input {
    padding: 9px 8px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
}